body {
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

/* Show it is fixed to the top */
#root {
  min-height: 75rem;
  min-width: 100%;
  padding-top: 3.5rem;
}

nav.fixed-top {
  background-color: gray;
}

.logo{
  width:75px; 
}

.bg-leaf {
  background-image: url("/images/leafbg.jpg");
}

.bg-body-tertiary {
  background-color:gray !important;
}

.navbar-static-top {
  margin-bottom: 19px;
}